<%- layout('layouts/main.ejs') %>
    <a href="/api-funcionario/create-drone" class="btn btn-primary btn-block mt-3 form-control">Crear Drone</a>
    <a href="/api-funcionario/dashboard" class="btn btn-success btn-block mt-3 form-control">Volver</a>
    <div class="row col-md-12">
        <% for(var i=0; i < AllDrones.length; i++) { %>
            <div class="card text-center col-md-3 mt-3">
                <div class="card-header">
                    <h3>
                        <%= AllDrones[i].nombreDrone %>
                    </h3>
                </div>
                <div class="card-body">
                    <h4>Tipo de Drone: <%= AllDrones[i].tipoDrone %>
                    </h4>
                    <h4>Estado Actual: <%= AllDrones[i].estado %>
                    </h4>
                    <h4>Descripcion del problema: <%= AllDrones[i].descripcion %>
                    </h4>
                    <a href="/api-funcionario/update-drone/<%= AllDrones[i]._id %>"
                        class="btn btn-primary btn-block mt-3 form-control">Actualizar</a>
                    <form action="/api-funcionario/delete-drone/<%= AllDrones[i]._id %>" method="POST">
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <button type="submit" class="btn btn-danger btn-block mt-3 form-control">Eliminar</button>
                    </form>
                </div>
            </div>
            <% } %>
    </div>