<%- layout('layouts/main.ejs') %>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card mt-0 text-center">
            <div class="card-header">
                <h3>Carrito</h3>
            </div>
            <div class="card-body">
                <form action="/api-ciudadania/preCarrito" method="POST">
                    <div class="row g-2">
                        <% for(var i=0; i < AllProducts.length; i++) { %>
                            <div class="col-md-6">
                                <input type="hidden" name="idProducto+<%= [i] %>" id="idProducto+<%= [i] %>" class="form-control disabled" value="<%= AllProducts[i].idProducto %>" placeholder="<%= AllProducts[i].nombreProducto %>">
                                <input type="text" name="nombreProducto+<%= [i] %>" id="nombreProducto+<%= [i] %>" class="form-control" value="<%= AllProducts[i].nombreProducto %>" placeholder="<%= AllProducts[i].nombreProducto %>" disabled>
                            </div>
                            <div class="col-md-6">
                                <input type="number" name="cantidad+<%= [i] %> " id="cantidadNomnbreProduct+<%= [i] %>" class="form-control" required>
                            </div>
                            <% } %>
                    </div>
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <div class="form-groupmt-3">
                        <label for="tipoPago">Selecciona el medio de pago</label>
                        <select name="tipoPago" id="tipoPago" class="form-control text-center">
                            <option value="Tarjeta">Tarjeta Debito</option>
                            <option value="Tarjeta">Tarjeta Credito</option>
                            <option value="pse">Pse</option>
                        </select>
                        <button type="submit" class="btn btn-primary btn-block mt-4 form-control">
                            Pagar
                        </button>
                        <a href="/api-ciudadania/get-products-ciudadania" class="btn btn-success btn-block mt-3 form-control">Volver</a>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

